<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javaweb.mybatisUseSqlSession.dao.StudentMapper">
    <select id="getStudentId" resultType="javaweb.mybatisUseSqlSession.pojo.Student">
        select student_id id,student_name name,student_gender gender,student_age age,student_address address from student where student_id = #{id}
    </select>
</mapper>